html, a, p, body, h1, h3, span, img{
margin:0;
padding: 0;
border: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
    width: fit-content;
}
a:hover{
    text-decoration: underline;
}
#red{
    color: #c42725;
}
#green{
    color: #89c730;
}
#homeBar{
    background-color: white;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}
#logo{
    display: inline-block;
    width: 132px;
    flex-grow: 2;
    margin-left: 40px;
}
nav{
    display: inline-flex;
    width: 300px;
    justify-content: space-around;
    margin-right: 40px;
}
#contentHolder{
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-evenly;
    padding:60px 0px;
    width: 100%;
    height: 100%;
    background-image: url(images/triangles_pattern.webp);
}
img{
    object-fit: cover;
    width: 275px ;
    height: 400px;
 
}
#infocard{
    width: 275px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#infocard h1{
    font-size: 40pt;
    font-weight: 900;
}
#infocard p{
    font-size: 17pt;
}
#infocard a{
    font-weight: 700;
}
.green{
    background-color: #8ec828;
    text-align: right;
    padding: 7px; 
    height: fit-content;

}
.white{
    background-color: #fff;
    text-align: right;
    padding: 5px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.apple,.pasta,.shrimp{
    width: 275px;
    height: 375px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background-size: cover;
}
.apple{
    background-image: url(images/apple-breakfast-quinoa-7.jpg);
    background-position: center;
}
.shrimp{
    background-position: center;
    background-image: url(images/Screenshot_208.jpg);
}
.pasta{
    background-position: center;
    background-image: url(images/pasta-salad-recipe-for-lunch.jpg);
}